MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_DATABASE=mydb

STATES_MYSQL_HOST=127.0.0.1
STATES_MYSQL_PORT=3306
STATES_MYSQL_USER=root
STATES_MYSQL_PASSWORD=1234
STATES_MYSQL_DATABASE=states

DATABASE_DEBUG=false

JWT_SECRET=supersecretjwt
UPLOAD_DIR=public/uploads
SQLITE_PATH=data/sqlite.db


TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=yourt_chat_id
TELEGRAM_THREAD_ID=your_thread_id
TELEGRAM_TOPIC_SKINS=your_topic_skins
PUBLIC_API_URL=